.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
/worksheets/
inst/doc
docs
/doc/
/Meta/
*mnirs-hex*.png
*mnirs-hex-v*.svg
**/*.quarto_ipynb
/.claude/
.vscode/
tests/testthat/Rplots.pdf
/tests/profiles
~$*
